<main>
  <article>
    <%= render(:erb, :header) %>
    <div id="edit">
      <p>ID:<%= @params["id"] %></p>
      <div class="col">
        <form method="post" action="/memos/<%= @params["id"] %>/edit">
        <input type="hidden" name="_method" value="patch">
          <div class="col">
            <label>タイトル：<input type="text" name="title" placeholder="メモのタイトル" value="<%= h(@memos[:title]) %>"></label>
          </div>
          <div class="col">
            <label>内容：<textarea name="content" placeholder="メモの内容"><%= h(@memos[:content]) %></textarea></label>
          </div>
          <div class="col">
            <button type="submit">保存する</button>
          </div>
        </form>
      </div>
    </div>
  </article>
</main>
